#toolbar{
    background-image:url('..//img/titlelogo.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 36%;
}

.memonano{
    display: block;
    margin: auto;
    text-align: center;
    width: 98%;
}

#output1{
    margin: 20px auto;
    width: 98%;
}
